<div>
<h1>Cart</h1>

<ul id="productList">
  {{#each productsInCart}}
  <li id="{{product._id}}">
    <h2>{{product.title}}</h2>

    <h3>
Price: ${{product.price}}
    </h3>
    <h3>
      Quantity: {{quantity}}
    </h3>
  </li>
  {{/each}}
</ul>



<div class="purchase">
  <button id="purchase" onclick="purchaseCart()">Purchase Items</button>
</div>

</div>

{{!-- Me traigo 2 scripts que hacen referenia al uso de los sockets --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>