<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
    <p>Not registered? <a href="/users/register">Register here</a></p>
    <p> Register with <a href="/api/sessions/github">Github</a></p>
    <p> Forgot your password? <a href="/users/forgot">Reset it here</a></p>
</div>


<script src="/js/login.js"></script>