<div>
<h1>Ticket</h1>

<div class="ticket-info"> 

    <h2>Order: {{data.msg.code}}</h2>
    <h3>Total: ${{data.msg.amount}}</h3>
    <h3>
      User: {{data.msg.purchaser}}
    </h3>
</div>

</div>

{{!-- Me traigo 2 scripts que hacen referenia al uso de los sockets --}}
{{!-- <script src="/js/cart.js"></script> --}}