<div>
  <h1>User not Authorized</h1>
  <p>Not registered? <a href="/users/register">Register here</a></p>
  <p>Login <a href="/users/login">here</a></p>
  <p> Forgot your password? <a href="/users/forgot">Reset it here</a></p>
</div>


<script src="/js/login.js"></script>