<!-- Footer -->
<div class="footer">
  <div class="container footer-content">
    <div class="footer-logo">{{ siteName }}</div>
    <div class="footer-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</div>